[Unit]
Description=Coffeetime Shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "<<<EXEC_PATH>>> -d <<<DB_PATH>>> exec-stop"

[Install]
WantedBy=default.target
