[Unit]
Description=Coffeetime After Sleep
After=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "cd $HOME && ./.local/share/coffeetime/coffeetime-daemon after-sleep"

[Install]
WantedBy=sleep.target
