[Unit]
Description=Coffeetime Startup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "cd $HOME && ./.local/share/coffeetime/coffeetime-daemon exec-start"

[Install]
WantedBy=default.target
