[Unit]
Description=Coffeetime After Sleep
After=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "<<<EXEC_PATH>>> -d <<<DB_PATH>>> after-sleep"

[Install]
WantedBy=sleep.target
