[Unit]
Description=Coffeetime Startup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "<<<EXEC_PATH>>> -d <<<DB_PATH>>> exec-start"

[Install]
WantedBy=default.target
